APScheduler==3.6.3
arxiv==1.4.3
cachetools==4.2.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
dill==0.3.6
feedparser==6.0.10
fonttools==4.39.3
idna==2.10
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
multiprocess==0.70.14
numpy==1.24.2
packaging==23.1
pandas==2.0.0
pathos==0.3.0
Pillow==9.5.0
pox==0.3.2
ppft==1.7.6.6
pycparser==2.21
PyExecJS==1.5.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-telegram-bot==13.15
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.2
sgmllib3k==1.0.0
six==1.16.0
tornado==6.3.2
translators==5.5.6
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.14
